<div class="container mt-4">
  <h2>Mis Citas</h2>
  <div *ngIf="citas.length > 0; else noCitas">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Médico</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Motivo</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cita of citas">
          <td>{{ cita.id }}</td>
          <td>{{ cita.medico?.nombre}}</td>
          <td>{{ cita.fecha | date: 'dd/MM/yyyy' }}</td>
          <td>{{ cita.horaInicio }}</td>
          <td>{{ cita.motivo }}</td>
          <td>{{ cita.estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noCitas>
    <p>No tiene citas programadas.</p>
  </ng-template>
</div>
