<h2>Recuperar Contraseña</h2>

<form [formGroup]="form" (ngSubmit)="sendResetEmail()" class="reset-form">
  <input type="email" formControlName="email" placeholder="Ingresa tu correo" class="input-field" />
  <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message">
    <small *ngIf="form.get('email')?.errors?.['required']">El correo es obligatorio.</small>
    <small *ngIf="form.get('email')?.errors?.['email']">Correo inválido.</small>
  </div>
  <button type="submit" [disabled]="form.invalid" class="btn primary-btn">Enviar correo</button>
</form>
