<div class="citas-container">
  <h2>Solicitudes de Citas Pendientes</h2>

  <div *ngIf="loading" class="loading">Cargando citas...</div>

  <div *ngIf="!loading && citasPendientes.length === 0">
    No hay citas pendientes por revisar.
  </div>

  <div *ngIf="!loading && citasPendientes.length > 0">
    <table class="citas-table">
      <thead>
        <tr>
          <th>Paciente</th>
          <th>Médico</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Motivo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cita of citasPendientes">
            <td>{{ cita.paciente?.nombre }} </td>
            <td>{{ cita.medico?.nombre }} </td>
          <td>{{ cita.fecha }}</td>
          <td>{{ cita.horaInicio }}</td>
          <td>{{ cita.motivo }}</td>
          <td>
            <button (click)="confirmarCita(cita)">Confirmar</button>
            <button (click)="rechazarCita(cita)" class="rechazar">Rechazar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
